<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <title> Plan Your Divvy Trip</title>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <nav class="navbar navbar-expand-md fixed-top">

        <a class="navbar-brand" href="#"><img src="static/Icons_White/DIVVY_logo.png" alt="DIVVY Logo" style="width:100px;height:29px"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/table.html">Table</a>
            </ul>
        </div>
    </nav>  
    <!-- D3 Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"
  integrity="sha512-L5K9Bf852XyB+wrvRFGwWzfhVI+TZqJlgwzX9yvrfhILuzIZfrcQO4au9D9eVDnkQ6oqYr9v2QwJdFo+eKE50Q=="
  crossorigin="anonymous"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- leaflet ant path -->
  <script type="text/javascript" src="static/js/leaflet-ant-path.js"></script>

  <!-- polyfill.io is the library for using newer JavaScript features (such as Object.assign) in older browers. -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  
  <!-- Marker cluster JavaScript code -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>


  <!-- Icons -->
  <script src="static/js/leaflet.extra-markers.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">

  <!-- Marker cluster CSS -->
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.0.3/dist/MarkerCluster.Default.css">
  
<!---->
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
          <div class="col-12">

              <a><p><h3 style="text-align: center; margin-top: 100px;">Plan Your Divvy Trip</h3></p></a>
              <a><p class="text-center">Click an area to find a station near you or your destination. Prefer electric bikes over classic models?<br> Use the buttons above the map to pick your bike type.</p> </a><br>
              <!-- <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p> -->

          </div>
        </div>
        <div class="btn-group" onclick="bikeeToggle(this.value)" role="group" aria-label="Basic outlined example">
            <button type="button" value="ebikes" class="btn btn-outline-primary">Electric Bikes</button>
          </div>
        <div class="btn-group" onclick="bikecToggle(this.value)" role="group" aria-label="Basic outlined example">
            <button type="button" value="classic" class="btn btn-outline-primary">Classic Bikes</button>
          </div>  
        <div class="btn-group" onclick="bikeaToggle(this.value)" role="group" aria-label="Basic outlined example">
        <button type="button" value="bikes" class="btn btn-outline-primary">All Bikes</button>
        </div>  
        <!-- <a class="btn btn-outline-primary" aria-label="Basic outlined example" class="btn btn-outline-primary" href="index.html"> <span type="button">All Bikes</span></a> -->
          <!-- <div class="btn-group" onclick="bikeaToggle(this.value)" role="group" aria-label="Basic outlined example">
            <button type="button" value="reset" class="btn btn-outline-primary">All Bikes</button>
          </div>     -->
                <div class="box-set" style="width:auto;height:600px;background-color: gray;">
                    <div id="map-id"></div>

                <!-- Our JavaScript file -->
                <!-- <script type="text/javascript" src="static/js/logic.js"></script> -->
                <!-- use script below for 10 most popular routes -->
                <script type="text/javascript" src="static/js/logic.js"></script>
                <br>
                <br>

                <script type="text/javascript" src="static/js/logic_ant.js"></script>
                    <!-- <h1 style="margin-top: 10px;"> holder for leaflet map</h1> -->
                    <!-- <figure class="box box-1">
                        <h3 style="text-align: center;">About</h3>
                    </figure>
                </div>  
            </div>
        </div>
    
    
    
    </div>
</body>
</html>