<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project 2 Open Sky</title>
    
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/style.css">

    <nav class="navbar navbar-expand-md fixed-top">
      <a class="navbar-brand" href="#"><img src="static/Icons_White/DIVVY_logo.png" alt="DIVVY Logo" style="width:100px;height:29px"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="table">Table</a>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Most Popular Routes</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li> -->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
            </form>
        </div>
    </nav>  
    <!-- D3 Library -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.7.0/d3.min.js"
  integrity="sha512-L5K9Bf852XyB+wrvRFGwWzfhVI+TZqJlgwzX9yvrfhILuzIZfrcQO4au9D9eVDnkQ6oqYr9v2QwJdFo+eKE50Q=="
  crossorigin="anonymous"></script>

  <!-- MomentJS -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>

  <!-- Leaflet JavaScript code -->
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>

  <!-- polyfill.io is the library for using newer JavaScript features (such as Object.assign) in older browers. -->
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Sanchez" rel="stylesheet">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  
  <!-- Marker cluster JavaScript code -->
  <script type="text/javascript" src="https://unpkg.com/leaflet.markercluster@1.0.3/dist/leaflet.markercluster.js"></script>


  <!-- Icons -->
  <script src="static/js/leaflet.extra-markers.min.js"></script>
  <link rel="stylesheet" type="text/css" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="static/css/leaflet.extra-markers.min.css">



  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    
    <div class="container">
        <div class="row">
          <div class="col-12">
              <a><h3 style="text-align: center; margin-top: 100px;"></h3></a>
              <!-- <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Get Data!</a></p> -->
          </div>
        </div>
        <div class="table-stripped" >
  
          </div>
          <div class="hero text-center">
            <h1>Data Table</h1>
            <p>Chicago Divvy Data</p>
          </div>
          <div class="container">
            <div class="row margin-top-50">
              <div class="col-md-2">
                <aside class="filters">
                  <div class="panel panel-default">
                    <div class="panel-heading">Filter Search</div>
                    <div class="panel-body">
                      <form>
                        <div class="form-group">
                          <ul class="list-group" id="filters">
                            <li class="filter list-group-item">
                              <label for="date">Enter a Location</label>
                              <input class="form-control" id="place" type="text" placeholder="Clark St">
                            </li>
                            <li class="filter list-group-item">
                              <label for="city">Enter a Capacity</label>
                              <input class="form-control" id="capacity" type="text" placeholder="25">
                            </li>
                            <!-- <li class="filter list-group-item">
                              <label for="city">Enter a Station Type</label>
                              <input class="form-control" id="station-type" type="text" placeholder="classic">
                            </li> -->
                            <!-- <li class="filter list-group-item">
                              <label for="city">Enter a Country</label>
                              <input class="form-control" id="country" type="text" placeholder="us">
                            </li>
                            <li class="filter list-group-item">
                              <label for="city">Enter a UFO Shape</label>
                              <input class="form-control" id="shape" type="text" placeholder="triangle"> -->
                            </li>
                          </ul>
                        </div>
                        <button id="filter-btn" type="button" class="btn btn-default">Filter Table</button>
                      </form>
                    </div>
                  </div>
                </aside>
              </div>
              <div class="col-md-10">
                <div id="table-area" class="">
                  <table id="divvy-table" class="table table-striped">
                    <thead>
                      <tr>
                        <th class="table-head">Location</th>
                        <th class="table-head">Capacity</th>
                        <th class="table-head">Station Type</th>
                        <th class="table-head">Latitude</th>
                        <th class="table-head">Longitude</th>
                      </tr>
                    </thead>
                    <tbody></tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <footer class="footer">
                <!-- <div class="box-set" style="width:auto;height:600px;background-color: gray;"> -->
                    <!-- <div id="map-id"></div> -->

                <!-- Our JavaScript file -->
                <!-- <script type="text/javascript" src="static/js/logic.js"></script> -->
                <!-- use script below for 10 most popular routes -->
                <!-- <script type="text/javascript" src="static/js/logic_cmd.js"></script> -->
                    <!-- <h1 style="margin-top: 10px;"> holder for leaflet map</h1> -->
                    <!-- <figure class="box box-1">
                        <h3 style="text-align: center;">About</h3>
                    </figure>
                </div>  
            </div>
        </div> -->
       
    
    
    </div>
    <script src="static/js/table_start.js"></script>
</body>
</html>